/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
    --antibol: #eee;
    --background: #eee;
    --bolcolor: #0000a4;
	--color-text:#eee;
    --color-text2: #111;
   
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  /* https://www.a11yproject.com/posts/how-to-hide-content */


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

a {
   text-decoration: none;

}

body {
    background-color: var(--background);
    margin: 0;
}

h1 {
    color: var(--color-text2);
    width:3em;
    
}

h1 img{
    width: 100%;

}

h3 {
    font-weight: 100;
}

header{
    background-color: var(--antibol);

}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2em;
}

header nav > button {
    margin: 0.5em;
    order: -1;
    border-style: none;
    background: none;

}

header nav > button img {
    width: 3em;

}

header nav form{
    background-color: var(--bolcolor);
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0.5em;
    order: 20;
}

header nav form input{
    flex-grow: 1;
    min-height: 3.5em;
    border-radius: 3em;
    border-style: none;
    
}



header nav ul{
    display: flex;
    flex-grow: 1;
    gap: 1em;
    justify-content: flex-end;
    list-style: none;
    min-width: 6em;
    order: 10;
    margin-right: 2em;
    
}


header nav ul a{
    color: var(--color-text2);
    display: block;

}

header nav ul li{
    display: flex;
    align-items: center;
}

header nav ul li img{
    width: 2em;
    
 }

section:first-of-type img{
    width: 100%;
}

section ul{
    list-style: none;
}

section:nth-of-type(2) ul{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow-x: scroll;
}

section:nth-of-type(2) ul li img{
    width: 20em;
    height: auto;   

}

section:nth-of-type(3) ul{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    justify-content: space-between;
}

section:nth-of-type(3) ul li {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    width: 10em;

}

section:nth-of-type(3) ul li img{
    width: 10em;

}

@media (width > 32.9em) {
	
	header {
		background-color: var(--bolcolor);
        color: var(--color-text) ;
		
	}


    header h1{
        color: var(--color-text);
    }


    header nav ul a{
        color: var(--color-text);
        display: block;
        order: 10;
    }

    header nav img{
        filter: invert() brightness(100);
    }
	
	header nav form {
        flex-grow:1;
		width:auto;
		
	}

    header nav form{
        order: 0;
        
    }

    
}